@import (reference) "variable";

@import "font";
@import "tip";

@import "nav";
@import "content";

body {
  -webkit-user-select: none;
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body,
html {
  height: 100%;
}

body {
  border-top: 1px solid #696969;
}

.wrap {
  height: 100%;
  padding: 0;
}
