@import "font";

body {
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
}

body,
html,
.wrap,
.switcher-list,
.switcher-content {
  height: 100%;
}


.wrap {
  padding: 0;
}

@listWidth: 202px;

.switcher-list {

  @functionHeight: 30px;

  @LeftBgColor: #d5dbe2;

  float: left;
  width: @listWidth;
  position: relative;
  min-height: 1px;
  border-left: 1px solid #dfe4ea;
  border-right: 1px solid #dfe4ea;
  background-color: #ffffff;

  .switcher-list-items {
    height: ~"-webkit-calc(100% - @{functionHeight})";

    > li {

      font-family: 'open sans';

      > a {
        color: #716b7a;
        font-weight: 300;
      }

      .status {
        display: none;
      }

      &.using {
        .status {
          display: inline;
          color: #2185C5;
        }
        //a {
          //font-weight: 700;
          //color: #FF7F66;
        //}
      }

      &.active {
        > a {
          color: #FF7F66;
          font-weight: 700;
          background-color: inherit;
        }
      }

      &.divider {
        height: 1px;
        margin: 0;
        overflow: hidden;
        background-color: #e5e5e5;
      }
    }
  }

  .functions {

    @iconColor: #2185C5;

    height: @functionHeight;
    position: relative;
    bottom: 0;
    border-top: 1px solid #cccccc;

    li {
      font-size: 14px;
      float: left;
      height: 100%;
      display: inline-block;
      padding: 6px 12px;
      //background-color: @iconColor;

      &:hover {
        //background-color: #FF7F66;
      }
    }

    .add {

      border-right: 1px #cccccc solid;

      i {
        height: 30px;
        width: 30px;
        margin-top: 23px;
        margin-left: 13px;
        display: inline-block;
        background-image: url(../img/icons.png);
        background-position: -85px 0;
      }
    }
  }
}

.switcher-content {
  float: left;
  position: relative;
  width: ~"-webkit-calc(100% - @{listWidth})";

  pre {
    height: 100%;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #ffffff;
    border: 0;
    border-radius: 0;
  }
}
