body,
html,
.wrap,
.switcher-list,
.switcher-content {
  height: 100%;
}
.wrap {
  border: 1px solid #cccccc;
  padding: 0;
}
.switcher-list {
  float: left;
  width: 202px;
  position: relative;
  min-height: 1px;
  border-left: 1px solid #dfe4ea;
  border-right: 1px solid #dfe4ea;
  background-color: #fff6e5;
}
.switcher-list .switcher-list-items {
  height: -webkit-calc(100% - 70px);
}
.switcher-list .functions {
  height: 70px;
  position: relative;
  bottom: 0;
  border-top: 1px solid #cccccc;
}
.switcher-list .functions li {
  float: left;
  height: 100%;
  display: inline-block;
  width: 25%;
  background-color: #2185c5;
}
.switcher-list .functions li:hover {
  background-color: #FF7F66;
}
.switcher-list .functions .add {
  border-right: 1px #cccccc solid;
}
.switcher-list .functions .add i {
  height: 30px;
  width: 30px;
  margin-top: 23px;
  margin-left: 13px;
  display: inline-block;
  background-image: url(../img/icons.png);
  background-position: -85px 0;
}
.switcher-content {
  float: left;
  position: relative;
  width: 600px;
}
