@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../font/openSans300.woff'), local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../font/openSans400.woff'), local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../font/openSans600.woff'), local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../font/openSans700.woff'), local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../font/openSans800.woff'), local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Code Pro ExtraLight'), local('../font/SourceCodePro-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/leqv3v-yTsJNC7nFznSMqS-IiwWNzQT_LXAtr-Ee9Pw.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/leqv3v-yTsJNC7nFznSMqcVNtom4QlEDNJaqqqzqdSs.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('../font/SourceCodePro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/mrl8jkM18OlOQN8JLgasD9Hq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Code Pro Bold'), local('../font/SourceCodePro-Bold'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/leqv3v-yTsJNC7nFznSMqYqjGYJUyOXcBwUQbRaNH6c.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 200;
  src: local('Titillium WebThin'), local('../font/TitilliumWeb-Thin'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v1/anMUvcNT0H1YN4FII8wpr-K9kSItTeDn2USN0q77Oh4.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('../font/TitilliumWeb-Regular'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v1/7XUFZ5tgS-tD6QamInJTcZ_o9VAbKgK36i-4snuAuCM.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium WebBold'), local('../font/TitilliumWeb-Bold'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v1/anMUvcNT0H1YN4FII8wpr_5rZpfU3XI-FvUPGDRT0xY.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 200;
  src: local('Titillium WebThin Italic'), local('../font/TitilliumWeb-ThinItalic'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v1/RZunN20OBmkvrU7sA4GPPvTdIrrWFKtkerHRAIjOAnE.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 400;
  src: local('Titillium WebItalic'), local('../font/TitilliumWeb-Italic'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v1/r9OmwyQxrgzUAhaLET_KO8-iP4m4uFrmmLLVBqy34EU.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 700;
  src: local('Titillium WebBold Italic'), local('../font/TitilliumWeb-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v1/RZunN20OBmkvrU7sA4GPPpe8VrfdPPeK1ViGigzR2tQ.woff) format('woff');
}
.info-tip {
  margin-top: -1px;
  position: absolute;
  left: 0;
  right: 0;
  top: -200px;
  line-height: 21px;
  font-size: 9pt;
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  text-align: center;
  z-index: 100;
  pointer-events: none;
}
.info-tip div {
  pointer-events: auto;
  display: inline-block;
  box-shadow: 0 1px 4px #ccc;
  padding: 8px 43px 8px 43px;
  border: 0;
  border-radius: 0 0 5px 5px;
  color: #ffffff;
  background-color: #1c9b47;
  text-align: left;
}
.info-tip.input div input[type=input] {
  background-color: #1c9b47;
  border: 0;
  outline: 0;
  color: #ffffff;
}
.info-tip.input div input[type=button] {
  color: #ffffff;
  border: 0;
  background-color: #1c9b47;
  padding: 3px 0 3px 18px;
}
.info-tip.input div input[type=button]:hover {
  color: #ffffff;
  text-decoration: underline;
}
body {
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.modal-footer {
  margin-top: 0;
}
body,
html,
.wrap,
.switcher-list,
.switcher-content {
  height: 100%;
}
.wrap {
  padding: 0;
}
.switcher-list {
  float: left;
  width: 202px;
  position: relative;
  min-height: 1px;
  border-left: 1px solid #dfe4ea;
  border-right: 1px solid #dfe4ea;
  background-color: #ffffff;
}
.switcher-list .switcher-list-items {
  height: -webkit-calc(100% - 30px);
}
.switcher-list .switcher-list-items > li.using > a {
  color: #ff7f66;
  font-weight: 700;
  background-color: inherit;
}
.switcher-list .switcher-list-items > li.using > a:hover {
  background-color: #eeeeee;
}
.switcher-list .switcher-list-items > li.divider {
  height: 1px;
  margin: 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.switcher-list .switcher-list-items > li {
  line-height: 19px;
  margin-top: 0;
  font-family: 'open sans';
  vertical-align: baseline;
}
.switcher-list .switcher-list-items > li.active {
  border-right: 0;
  box-shadow: 0px 1px #dfe4ea, 0px -1px #dfe4ea;
  background: white;
  margin-right: -1px;
  background-color: #fcfcfc;
}
.switcher-list .switcher-list-items > li.active .status {
  display: inline;
  color: #dfe4ea;
}
.switcher-list .switcher-list-items > li.active .change {
  right: 36px !important;
}
.switcher-list .switcher-list-items > li.active > a:hover {
  background-color: white;
  background-color: #fcfcfc;
}
.switcher-list .switcher-list-items > li > a {
  color: #716b7a;
  font-weight: 300;
  cursor: default;
}
.switcher-list .switcher-list-items > li .status {
  top: 2px;
  display: none;
}
.switcher-list .switcher-list-items > li .change {
  display: none;
  position: absolute;
  top: 17px;
  right: 35px;
  font-size: 5px;
  line-height: 5px;
  color: #716b7a;
}
.switcher-list .switcher-list-items > li .change:before {
  content: ' ';
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #dfe4ea;
}
.switcher-list .functions {
  height: 30px;
  position: relative;
  bottom: 0;
  border-top: 1px solid #cccccc;
}
.switcher-list .functions li {
  font-size: 14px;
  float: left;
  height: 100%;
  display: inline-block;
  padding: 6px 12px;
}
.switcher-list .functions .add {
  border-right: 1px #cccccc solid;
}
.switcher-list .functions .add i {
  height: 30px;
  width: 30px;
  margin-top: 23px;
  margin-left: 13px;
  display: inline-block;
  background-image: url(../img/icons.png);
  background-position: -85px 0;
}
.switcher-content {
  height: 100%;
  cursor: text;
  float: left;
  position: relative;
  width: -webkit-calc(100% - 202px);
}
.tab-content,
.switcher-content,
.CodeMirror {
  height: 100%;
}
.CodeMirror {
  font-variant: normal;
  vertical-align: baseline;
  white-space: pre;
  padding: 8px;
  font-size: 13px;
  line-height: 15px;
  background-color: #fcfcfc;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}
.CodeMirror-code pre {
  color: rgba(77, 77, 76, 0.85);
}
.CodeMirror-code .cm-comment {
  color: #718c00;
}
