@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../font/openSans300.woff'), local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../font/openSans400.woff'), local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../font/openSans600.woff'), local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../font/openSans700.woff'), local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../font/openSans800.woff'), local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
body {
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}
.modal-footer {
  margin-top: 0;
}
body,
html,
.wrap,
.switcher-list,
.switcher-content {
  height: 100%;
}
.wrap {
  padding: 0;
}
.switcher-list {
  float: left;
  width: 202px;
  position: relative;
  min-height: 1px;
  border-left: 1px solid #dfe4ea;
  border-right: 1px solid #dfe4ea;
  background-color: #ffffff;
}
.switcher-list .switcher-list-items {
  height: -webkit-calc(100% - 30px);
}
.switcher-list .switcher-list-items > li.using > a {
  color: #ff7f66;
  font-weight: 700;
  background-color: inherit;
}
.switcher-list .switcher-list-items > li.using > a:hover {
  background-color: #eeeeee;
}
.switcher-list .switcher-list-items > li.divider {
  height: 1px;
  margin: 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.switcher-list .switcher-list-items > li {
  margin-top: 0;
  font-family: 'open sans';
}
.switcher-list .switcher-list-items > li.active {
  border-right: 0;
  box-shadow: 0px 1px #dfe4ea, 0px -1px #dfe4ea;
  background: white;
  margin-right: -1px;
}
.switcher-list .switcher-list-items > li.active .status {
  display: inline;
  color: #dfe4ea;
}
.switcher-list .switcher-list-items > li.active > a:hover {
  background-color: white;
}
.switcher-list .switcher-list-items > li > a {
  color: #716b7a;
  font-weight: 300;
  cursor: default;
}
.switcher-list .switcher-list-items > li .status {
  display: none;
}
.switcher-list .functions {
  height: 30px;
  position: relative;
  bottom: 0;
  border-top: 1px solid #cccccc;
}
.switcher-list .functions li {
  font-size: 14px;
  float: left;
  height: 100%;
  display: inline-block;
  padding: 6px 12px;
}
.switcher-list .functions .add {
  border-right: 1px #cccccc solid;
}
.switcher-list .functions .add i {
  height: 30px;
  width: 30px;
  margin-top: 23px;
  margin-left: 13px;
  display: inline-block;
  background-image: url(../img/icons.png);
  background-position: -85px 0;
}
.switcher-content {
  float: left;
  position: relative;
  width: -webkit-calc(100% - 202px);
}
.switcher-content pre {
  color: #716b7a;
  height: 100%;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #ffffff;
  border: 0;
  border-radius: 0;
}
